.body{
    margin: 0;
    text-align: center;
    background-color: black;
}

h1{
    
   
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0 auto 0 auto;

}
button{
   
}
.base1{
    
    border-radius: 40px;
    height: 5em;
    width: 50%;
    background: linear-gradient(
115deg
,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    margin: 0 auto 0 auto; 
}
.base1:hover{
    animation: rotate 1.5s linear infinite;
}

  
.base2{
    margin-top: 7%;
    margin-left: 7%;
    height: 15em;
    width: 12em;
    background-image: url(https://drive.google.com/uc?id=1tOBMnLowX2ln4a4wCaAF1l6v9VKOCMSB);
    background-size: cover;
    transition: 2s;
    border-radius: 40px;
}
.base2:hover{
   
    height: 17em;
    width: 20em;

}
.base3{
    
    margin-top: 7%;
    margin-left: 67%;
    height: 9em;
    width: 12em;
    background-image: url(https://drive.google.com/uc?id=17zPzbZ-7RIF298CAvi7aSZT9tI2mbDJp);
    background-size: cover;
    background-position: 0;
    transition: 2s;
    
}
.base3:hover{
    height: 17em;
    width: 20em;

}
.base4{
    font-size: larger;
    border-radius: 40px;
    margin: 0 auto 0 auto;
    height: 40px;
    width: 15%;
    background: linear-gradient(
        326deg
        ,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);

}
 .base4:hover{
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {

    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
    
} 
.ct{
    margin: 0 auto 0 auto;
    background-color: aliceblue;
    height: 20px;
    width: 60px;
}
