body{
    height: 30%;
    align-items: center;
    background-color: bisque;
    
}

.base1{
    border-radius: 40px;
    background-color: #f9c098de;
    display: inline-block;
    left: 26%;
    height: auto;
    width: 53%;
    margin: 0 auto 0 auto;
    opacity: .7;
    position: absolute;
    top: 10%;
    text-align: center;
    
}
.base2{
    border-radius: 40px;
    display: inline-block;
    background-color: cadetblue;
    padding: 20px;
    height: auto;
    top: 76%;
    left: 46%;
    position: absolute;
}
.img1{
    background-size: cover;
    background-image: url(https://drive.google.com/uc?id=17zPzbZ-7RIF298CAvi7aSZT9tI2mbDJp);
    position:absolute;
    height: 210px;
    width: 210px;
    top: 400px;
    left: 10px;
    border-radius: 40px;
    size: 30px * 30px;
    transition: width 4s;

}
.img2{
    background-size: cover;
    background-image: url(https://drive.google.com/uc?id=1tOBMnLowX2ln4a4wCaAF1l6v9VKOCMSB);
    position:absolute;
    height: 200px;
    width: 200px;
    top: 200px;
    right: 10px;
    border-radius: 40px;
    transition: width 4s;
}
.img1:hover{
    height: 400px;
    width: 400px;
}
.img2:hover{
    height: 400px;
    width: 400px;
}
.pay{
    border: 0px;
    border-radius: 40px;
    background-color: cadetblue;
    transition: 2s;
}
.pay:hover{

    background-color: rgb(253, 253, 253);
    text-decoration-color: aliceblue;
}