body{
  background-color: #126e82;
  margin:0;

}


.base1{
  background-color: #51c4d3;
  height: 82px;
  text-align: left;
  width: 902px;
  display: inline-block;
  position: relative;
  bottom: 21px;


}
.btn_grp{
  display: inline-block;
}
.btn_grp .button1{
  background-color: #51c4d3;
  border: none;
  color: #47597e;
  font-family: sans-serif;
  padding: 19px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  right: 4px;
  font-size: 39px;
  float: left;
  border-left: 2px #87c4b4;
  

}
.btn_grp .button1:hover{
  background-color: #87c4b4;
}
h1{
  font-family: sans-serif;
  color: #47597e;
  margin: 0;
  height: 82px;
  font-size: 66px;


}
.profile_pic{
  position: relative;
  right: 7px;

  display: inline-block;
}
